form {
    background-image: url(https://envato-shoebox-0.imgix.net/9082/f855-75f4-4036-96a6-3b6bba382d6a/T13A7995.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=2d1b2ba144a1a59c8574514fda1db176);
    padding-left: 5%;
}

.row {
    margin-bottom: 2cm;
       
    
}
.form-group {
    margin-left:2cm;
    margin-right:2cm;
}