.container {
    margin-top:1cm;
    background-image: url(https://image.freepik.com/free-photo/crop-couple-cooking-salad-together_23-2148114200.jpg);
}
.card{
    background-image: url(https://ak6.picdn.net/shutterstock/videos/9524276/thumb/1.jpg);
}